/*  Custom fonts  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/*  HTML default elements styling  */

html, body, #root, .App {
  height: 100%;
}

html {
  background: #333333;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

/*  Home page  */

.Home {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 300px;
}

.Home > .wrapper > .title {
  font-size: 9vh;
  color: #95B8D1;
}

.Home > .wrapper > .subtitle {
  font-size: 2.5vh;
  text-align: center;
}

/*  Navigation  */

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.right-nav {
  float: right;
  margin-right: 10px;
}

a.nav-btn {
  border: solid 2px #EDAFB8;
  color: #EDAFB8;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
  font-weight: 400;
}

a.nav-btn:active {
  color: #333333;
  background: #EDAFB8;
}

/*  Footer  */

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}